.infoBox {
  flex: 1;
  cursor: pointer;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: red;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: '#6c757d';
  font-weight: 700px !important;
  font-size: 0.9rem !important;
  margin-top: 10px !important;
}

.active {
  border-top: 10px solid greenyellow;
}

.red {
  border-color: red;
}

.green {
  color: lightgreen;
}
